.class {
    margin: -10px .5em;
    padding: 5rem .5px;
    border: 3px solid black;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 20px;
    line-height: 1.25rem;
}
.class2 {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1em;
}
@media (min-width: 750px) {
    .class3 {
        font-size: 16px;
        font-size: 1rem;
        line-height: 22px;
        line-height: 1.375rem;
    }
}

/*
.class {
    font-size: 16px;
}
*/